/* Container for the navigation bar */
.nav-container {
    margin-left: 250px; /* Match sidebar width exactly */
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 0;
    position: relative; /* Add this */
}

/* Style for the search input */
.search-input {
    padding: 12px;
    border: none;
    background: #f7f6f68e;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    width: 50rem;
    max-width: 100%; /* Add this for responsiveness */
    height : 40px;
    max-width: 500px;
}

/* Container for profile icons and the Sign Up button */
.profile-container {
    display: flex;
    align-items: center;
}

/* Style for each icon */
.nav-icons {
    font-size: 1.5rem;
    color: #000;
    margin-left: 1rem;
    text-decoration: none;
}

.nav-icons:hover {
    color: #f8a7a7;
}

/* Mobile styles */
@media (max-width: 768px) {
    .nav-container {
        margin-left: 15vw; /* Remove margin on mobile */
    }
    
    .search-input {
        width: 100%;
    }
}

/* Tablet styles */
@media (max-width: 1024px) and (min-width: 769px) {
    .nav-container {
        margin-left: 200px; /* Match tablet sidebar width */
    }
}
