.product-card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15rem ;
    gap: 20px;
    padding: 2rem;
    z-index: -2;
}

.product-card {
    width: 15rem;
    border: 2px solid #aa6363a2;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e1a68296;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(74, 5, 5, 0.829);
}

.product-card-image {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.product-card-title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.product-card-reviews {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.ratings-star {
    font-size: 1.2rem;
    color: #fffb04;
    margin-right: 2px;
}

.total-reviews {
    font-size: 0.9rem;
    margin-left: 8px;
}

.product-card-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.bag-icon {
    font-size: 1.5rem;
    margin-top: 1rem;
}
